/* editor style */
.runpartner-event-subtitle-block {
	padding: 16px;
	background: var(--wp--preset--color--accent-5);
	border-radius: 8px;
}

/* frontend style */
.runpartner-event-subtitle {
	margin: 1rem 0;
}

.runpartner-event-subtitle-text {
	font-size: 0.825rem;
	font-weight: 500;
	color: var(--wp--preset--color--contrast);
	line-height: 1.6;
}
